@mixin flexCenter($direction, $background) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background: $background;
}

.header1,
header {
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  color: #df1f6f;
  background: linear-gradient(0.1turn, #bde9f8, #04c5c5, #bde9f8);
  h2 {
    filter: drop-shadow(-10px 12px 3px rgba(10, 131, 131, 0.3));
  }
  .logo {
    padding: 1rem;

    box-sizing: border-box;
    box-shadow: inset -3px -3px 3px 4px #73cece;
    border-radius: 5px;
    cursor: pointer;
  }
  input {
    margin-top: 20px;
    background: $textColor;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 35px;
    color: $primaryBtn;
    &::placeholder {
      color: $primaryBtn;
    }
  }
  button {
    background: $primaryBtn;
    color: $textColor;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: -2.3rem;
    &:hover {
      background: $textColor;
      color: $primaryBtn;
    }
    &::after {
      content: "\e000";
    }
  }

  .news {
    color: $textColor;
    // padding: 0 0.2rem 0 0;
  }
  .detail {
    margin-top: 5px;
    filter: drop-shadow(-1px 6px 3px rgba(20, 173, 187, 0.7));
    .tag {
      padding: 0.7rem;
      clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
      box-sizing: border-box;
      box-shadow: inset 20px -2px 20px 4px #73cece;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}
