.container {
  background-color: #2196f3;
  display: grid;
  /* width: 100vw;gw
    height: 100vh; */
  padding: 0.5em;
  grid-template-columns: 100px 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 80px;
  grid-gap: 0.5rem;
  grid-template-areas:
    "header header header header"
    "sidebar content-1 content-2"
    "sidebar content-3 content-4 content-5"
    "footer footer footer footer";
}

.container > div {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}
