@import "./variables";
@import "./header";
/* header button {
  background: $primaryBtn;
  color: $textColor;
} */
.contact {
  @extend header;
  background: lightcoral;
  background: orange; //overridden
  width: 100% -20%;
}
