header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #df1f6f;
  background: linear-gradient(0.1turn, #bde9f8, #04c5c5, #bde9f8);
}

header h2 {
  -webkit-filter: drop-shadow(-10px 12px 3px rgba(10, 131, 131, 0.3));
          filter: drop-shadow(-10px 12px 3px rgba(10, 131, 131, 0.3));
}

header .logo {
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset -3px -3px 3px 4px #73cece;
          box-shadow: inset -3px -3px 3px 4px #73cece;
  border-radius: 5px;
  cursor: pointer;
}

header input {
  margin-top: 20px;
  background: #ebe5e5;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 35px;
  color: #df1f6f;
}

header input::-webkit-input-placeholder {
  color: #df1f6f;
}

header input:-ms-input-placeholder {
  color: #df1f6f;
}

header input::-ms-input-placeholder {
  color: #df1f6f;
}

header input::placeholder {
  color: #df1f6f;
}

header button {
  background: #df1f6f;
  color: #ebe5e5;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: -2.3rem;
}

header button:hover {
  background: #ebe5e5;
  color: #df1f6f;
}

header button::after {
  content: "\e000";
}

header .news {
  color: #ebe5e5;
}

header .detail {
  margin-top: 5px;
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(20, 173, 187, 0.7));
          filter: drop-shadow(-1px 6px 3px rgba(20, 173, 187, 0.7));
}

header .detail .tag {
  padding: 0.7rem;
  -webkit-clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
          clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 20px -2px 20px 4px #73cece;
          box-shadow: inset 20px -2px 20px 4px #73cece;
  border-radius: 2px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background: #ebe5e5;
  color: #ebe5e5;
}

.sidebar {
  float: left;
  width: 16.67%;
  height: 100vh;
  border: 2px solid #df1f6f;
  background: #df1f6f;
}

.sidebar nav ul {
  margin: 0;
  padding: 0;
}

.sidebar nav ul li {
  list-style: none;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.sidebar nav ul li:hover {
  background: #ebe5e5;
}

.sidebar nav ul li .active {
  background: #9e7f95;
}

.sidebar nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 120%;
  color: #ebe5e5;
}

.sidebar nav ul li a:hover {
  color: #df1f6f;
  display: block;
}

.sidebar nav .dropdown-container {
  display: none;
}

.sidebar nav .icon-home:before {
  content: "\e006";
}

.sidebar nav .icon-user:before {
  content: "\e007";
}

.sidebar nav .icon-top:before {
  content: "\e0a5";
}

.sidebar nav .icon-theme:before {
  content: "\e104";
}

.sidebar nav .icon-dump:before {
  content: "\e0e9";
}

.sidebar nav .text-muted {
  color: #f5f2e9;
}

.grid-container {
  color: #bde9f8;
  float: right;
  width: 82.34%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 1rem;
  padding: 1rem;
}

.grid-container div {
  padding: 20px 0;
}

.grid-container .card {
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 2px 3px 3px #ccc;
          box-shadow: 3px 2px 3px 3px #ccc;
  border-radius: 5px;
}

.grid-container2 {
  width: 82.34%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
  padding: 1rem;
}
/*# sourceMappingURL=common.css.map */